@font-face {
    font-family: 'Inter';
    src: url('/assets/Inter/inter-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('/assets/Inter/inter-bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}